*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar,.offcanvas{
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-item img{
 height: 100vh;
}